body {
    min-height: 400vh;
    font-size: 1.4rem;
    font-family: 'Glacial Indifference Regular', sans-serif;
}

body.no-scrolling {
    height: 100vh;
    overflow: hidden;
}

.page-header {
    padding: 16rem 2.4rem;
    background-image: url('../img/header/main-header.png');
    background-size: cover;
    background-position: center;
    color: #fcfcfc;
}

.page-header .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-header .header-content .header-title {
    margin-bottom: 4.8rem;
    font-size: 1.8rem;
    font-family: 'Archivo Black', serif;
}

.page-header .header-content .header-ctas {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.page-header .header-content .header-ctas .header-cta {
    padding: 1.2rem 2.4rem;
}

.page-header .header-content .header-ctas .header-cta:not(:last-child) {
    margin-bottom: 1.2rem;
}

@media (min-width: 400px) {
    .page-header .header-content {
        align-items: flex-end;
        text-align: right;
    }

    .page-header .header-content .header-title {
        font-size: 2.4rem;
    }

    .page-header .header-content .header-ctas {
        flex-direction: row;
    }

    .page-header .header-content .header-ctas .header-cta {
        margin-left: 1.2rem;
    }

    .page-header .header-content .header-ctas .header-cta:not(:last-child) {
        margin-bottom: 0;
    }
}

.about-section {
    padding: 4.8rem 2.4rem;
}

.about-section .section-content  {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4.8rem;
}

.about-section .section-content .text-part .section-title {
    margin-bottom: 1.2rem;
    font-size: 3.2rem;
}

.about-section .section-content .grid-part {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4.8rem;
}

@media (min-width: 600px) {
    .about-section .section-content .grid-part {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .about-section .section-content .grid-part {
        gap: 4.8rem;
    }
}

.about-section .section-content .grid-part .grid-box .box-header {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
}

.about-section .section-content .grid-part .grid-box .box-header .box-icon {
    margin-right: 1.2rem;
    font-size: 1.8rem;
}

.about-section .section-content .grid-part .grid-box .box-header .box-title {
    font-size: 1.6rem;
}