body {
    min-height: 400vh;
    font-size: 1.4rem;
    font-family: 'Open Sans Regular', sans-serif;
}

.page-header {
    padding: 2.4rem;
    height: 100vh;
    min-height: 48rem;
    background-image: url('../img/header/main-header.png');
    background-size: cover;
    background-position: center;
    color: #fcfcfc;
}

.page-header .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-header .header-content .header-title {
    margin-bottom: 4.8rem;
    font-size: 1.8rem;
    font-family: 'Archivo Black', serif;
}

.page-header .header-content .header-ctas {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.page-header .header-content .header-ctas .header-cta {
    padding: 1.2rem 2.4rem;
}

.page-header .header-content .header-ctas .header-cta:not(:last-child) {
    margin-bottom: 1.2rem;
}

@media (min-width: 400px) {
    .page-header .header-content {
        align-items: flex-end;
        text-align: right;
    }

    .page-header .header-content .header-title {
        font-size: 2.4rem;
    }

    .page-header .header-content .header-ctas {
        flex-direction: row;
    }

    .page-header .header-content .header-ctas .header-cta {
        margin-left: 1.2rem;
    }

    .page-header .header-content .header-ctas .header-cta:not(:last-child) {
        margin-bottom: 0;
    }
}