.page-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fcfcfc;
    transition: background-color .4s;
}

.page-navigation.sticky {
    background-color: #121212;
}

.page-navigation .nav-content {
    display: flex;
    align-items: center;
    padding: 2.4rem;
    transition: padding .4s;
}

.page-navigation.sticky .nav-content {
    padding: 1.6rem 2.4rem;
}

.page-navigation .nav-content .nav-logo {
    width: 4.8rem;
    height: 2.4rem;
}

.page-navigation .nav-content .nav-hider {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    cursor: pointer;
}

.page-navigation .nav-content .nav-hider .bar {
    width: 32px;
    height: 1px;
    background-color: #fcfcfc;
}

.page-navigation .nav-content .nav-hider .bar:not(:last-child) {
    margin-bottom: 5px;
}

.page-navigation .nav-content .nav-items {
    display: none;
    margin-left: auto;
}

.page-navigation .nav-content .nav-items .nav-item {
    margin-left: 2.4rem;
    display: flex;
    align-items: center;
    opacity: .75;
    transition: .2s;
    cursor: pointer;
}

.page-navigation .nav-content .nav-items .nav-item .item-label {
    margin-right: .8rem;
}

.page-navigation .nav-content .nav-items .nav-item .dropdown-icon {
    font-size: 1.2rem;
}

.page-navigation .nav-content .nav-items .nav-item:hover {
    opacity: 1;
}

@media (min-width: 900px) {
    .page-navigation .nav-content .nav-hider {
        display: none;
    }

    .page-navigation .nav-content .nav-items {
        display: flex;
    }
}