@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url('../../font/GlacialIndifference/GlacialIndifference-Regular.ttf');
}

@font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('../../font/GlacialIndifference/GlacialIndifference-Bold.ttf');
}

@font-face {
    font-family: 'Archivo Black';
    src: url('../../font/ArchivoBlack/ArchivoBlack-Regular.ttf');
}