@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../../font/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Archivo Black';
    src: url('../../font/ArchivoBlack/ArchivoBlack-Regular.ttf');
}