*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 9px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

@media (min-width: 900px) {
    :root {
        font-size: 10px;
    }
}